@model Core.ViewModels.ApplicationUserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1> Welcome! Admin </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home </a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">

                            @*<div class="filter">
                                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li class="dropdown-header text-start">
                                        <h6>Filter</h6>
                                    </li>

                                    <li><a class="dropdown-item" href="#">Today</a></li>
                                    <li><a class="dropdown-item" href="#">This Month</a></li>
                                    <li><a class="dropdown-item" href="#">This Year</a></li>
                                </ul>
                            </div>*@

                            <div class="card-body">
                                <h5 class="card-title"> Track IDs Generated </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-grid-3x3"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.TotalTrackIds</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    
                    <!-- Message Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title"> Messages Recieved </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-chat-left-text"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.TotalMessages</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                    
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title"> Clients </h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.TotalClients</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Sales Card -->
                </div>

                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h3 class="card-title mb-0 text-center">Generated Tracking IDs</h3>
                            </div>
                            @if (Model?.TrackIds?.Count() > 0)
                            {
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table custom-table table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th> Client Name </th>
                                                    <th> Item Name </th>
                                                    <th> Item Weight </th>
                                                    <th> Date Created</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var trackId in Model.TrackIds)
                                                {
                                                    <tr>
                                                        <td>@trackId.ClientName</td>
                                                        <td>@trackId.ItemName</td>
                                                        <td>@trackId.ItemWeight</td>
                                                        <td>@trackId.DateCreated.ToString("D")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-title text-center">
                                    <a asp-controller="Admin" asp-action="ChangeLocation">View all TrackIDs</a>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="col-md-6 d-flex">
                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h3 class="card-title mb-0 text-center"> Contact Messages </h3>
                            </div>
                            @if (Model?.Messages?.Count() > 0)
                            {
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table custom-table table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th> Client Email </th>
                                                    <th> Subject </th>
                                                    <th> Date Created</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var msg in Model.Messages)
                                                {
                                                    <tr>
                                                        <td>@msg.ClientEmail</td>
                                                        <td>@msg.Subject</td>
                                                        <td>@msg.DateCreated.ToString("D")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="card-title text-center">
                                    <a asp-controller="Admin" asp-action="ClientMessages">View all Messages</a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
